  @import '../global.css';


  .container{
    display: flex;
    flex-direction: column;
    padding:  10px 0;
    padding-bottom: 70px;
    min-height: 50vh  ;
    max-height: 60vh;
    width: 45%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    /* background: #000; */
}

 .light {
  background-color: #4CAF50 !important;
  color: #ffffff; /* Ensure text is visible */
}

.dark {
  background-color: #1e88e5 !important;
  color: #ffffff; /* Ensure text is visible */
}


    /* Theme Variables */
    /* 
    --primary-color: #4CAF50;
    --secondary-color: #FFC107;
    --background-color: #f4f4f4;
    --trinary-color: #384775;
    --text-color: #333;
     */


/* --dark-background: #181818;
    --dark-text-color: #f1f1f1;
    --dark-primary-color: #1e88e5; */



/* Styling the scrollbar track */
::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}

/* Styling the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #2f4ba1; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

/* Styling the scrollbar track background */
::-webkit-scrollbar-track {
  overflow: hidden;
  
  background-color: #f1f1f1; /* Background color of the scrollbar track */
  border-radius: 10px;
}
