@import '../../global.css';

#editForm{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    
}


#addTodoText{
    height: 5vh;
    border: 2px solid black;
    border-radius: .81rem;
    padding: 4px 10px;
    font-size: 1.2rem;
}

#addTodoText::placeholder {
    color: #978985;  /* Change this to the color you want */
  }

 #textBox{
    width: 100%;
    height: 5vh;
    border: 2px solid black;
    border-radius: .81rem;
    padding: 4px 10px;
    font-size: 1.2rem;
   
}

#textBox:active{
    transform: scale(0.99); /* Scale down on click */
}

button {
    border: 2px solid black;
    border-radius: .81rem;
    padding: 4px 10px;
    font-size: 1.2rem;
    width: 70px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.1s ease; /* Smooth transition */
}

button:active {
    transform: scale(0.95); /* Scale down on click */
}




