@import './global.css';


.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
  position: relative;
}


.theme_btn{
  width: 100px;
  height: 30px;
  position: absolute;
  top: 2%;
  right: 3%;
}


    /* Theme Variables */
    /* 
    --primary-color: #4CAF50;
    --secondary-color: #FFC107;
    --background-color: #f4f4f4;
    --trinary-color: #384775;
    --text-color: #333;
     */


/* --dark-background: #181818;
    --dark-text-color: #f1f1f1;
    --dark-primary-color: #1e88e5; */