[data-theme="light"] {
    /* Theme Variables */
    --primary-color: 		hsl(200, 100%, 50%);
    --secondary-color: 		hsl(200, 100%, 40%);
    --background-color: 		hsl(200, 100%, 80%);
    --trinary-color: 	hsl(200, 100%, 70%);
    --text-color: 		hsl(200, 100%, 10%);
    
    /* Transition for smooth theme changes */
    --transition-time: 0.3s ease;
  }
  
[data-theme="dark"] {
    /* Theme Variables */
    --primary-color: 	hsl(209, 77%, 60%);
    --secondary-color: 	hsl(209, 77%, 17%);
    --background-color: 	hsl(209, 77%, 40%);
    --trinary-color: 	hsl(209, 77%, 30%);
    --text-color: 	hsl(209, 77%, 20%);
    
    /* Transition for smooth theme changes */
    --transition-time: 0.3s ease;
  }
  

