:root {
    /* Theme Variables */
    --primary-color: #4CAF50;
    --secondary-color: #FFC107;
    --background-color: #f4f4f4;
    --trinary-color: #384775;
    --text-color: #333;
    
    /* Dark Theme Variables */
    --dark-background: #181818;
    --dark-text-color: #f1f1f1;
    --dark-primary-color: #1e88e5;
  
    /* Font Variables */
    --font-family: 'Roboto', sans-serif;
    --heading-font-family: 'Poppins', sans-serif;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 24px;
  
    /* Spacing Variables */
    --padding-small: 8px;
    --padding-medium: 16px;
    --padding-large: 24px;
    
    /* Border Radius */
    --border-radius: 5px;
  
    /* Transition for smooth theme changes */
    --transition-time: 0.3s ease;
  }
  