[data-theme="light"] {
    /* Theme Variables */
    --primary-color: #4CAF50;
    --secondary-color: #FFC107;
    --background-color: #f4f4f4;
    --trinary-color: #ffffff;
    --text-color: #333;
    
    /* Transition for smooth theme changes */
    --transition-time: 0.3s ease;
  }
  
[data-theme="dark"] {
    /* Theme Variables */
    --primary-color: #7c917d;
    --secondary-color: #8a7e58;
    --background-color: #3b3333;
    --trinary-color: #375e8a;
    --text-color: #6e4343;
    
    /* Transition for smooth theme changes */
    --transition-time: 0.3s ease;
  }
  

